.container {
  display: flex;  
  width:calc(100% - 230px);
  margin-left:230px;
  min-height: 100vh; 
  color:#fff;
}
.mailid{
  position: fixed;
    top: 45px;
    left: 280px;
    display: flex;
    align-items: center;
} 
.mailid img{
  width:25px;
  height:25px; 
  margin-right:10px;
}
.mailid a{
  font-weight:300 !important;
}